<form class="ui form" {{action "create" on="submit"}}>
	<h4 class="ui dividing header">Create</h4>
	<div class="inline fields">
	<label>Amount</label>
		{{input value=amount type="number"}}
	</div>
	<div class="field">
    <label>Transaction belongs to:</label>
    <div class="ui fluid multiple search selection dropdown">
      <input type="hidden" name="receipt">
   	  <i class="users icon"></i>
      <div class="menu">
        <div class="item" data-value="jenny" data-text="Jenny">
          <img class="ui mini avatar image" src="http://kusasa.biz/wp-content/uploads/2014/04/Kusasa-Logo-Very-Tiny.png">
          Jenny Hess
        </div>
        <div class="item" data-value="elliot" data-text="Elliot">
          <img class="ui mini avatar image" src="http://kusasa.biz/wp-content/uploads/2014/04/Kusasa-Logo-Very-Tiny.png">
          Elliot Fu
        </div>
        <div class="item" data-value="stevie" data-text="Stevie">
          <img class="ui mini avatar image" src="http://kusasa.biz/wp-content/uploads/2014/04/Kusasa-Logo-Very-Tiny.png">
          Stevie Feliciano
        </div>
        <div class="item" data-value="christian" data-text="Christian">
          <img class="ui mini avatar image" src="http://kusasa.biz/wp-content/uploads/2014/04/Kusasa-Logo-Very-Tiny.png">
          Christian
        </div>
        <div class="item" data-value="matt" data-text="Matt">
          <img class="ui mini avatar image" src="http://kusasa.biz/wp-content/uploads/2014/04/Kusasa-Logo-Very-Tiny.png">
          Matt
        </div>
        <div class="item" data-value="justen" data-text="Justen">
          <img class="ui mini avatar image" src="http://kusasa.biz/wp-content/uploads/2014/04/Kusasa-Logo-Very-Tiny.png">
          Justen Kitsune
        </div>
      </div>
    </div>
  </div>
	<div class="field">
		<h4 class="ui horizontal divider">For</h4>
		{{textarea value=description rows="2"}}
	</div>
	<button class="ui blue button" type="submit">Submit</button>
</form>