<div class="ui grid">
	<div class="row">
		<div class="column">
			<div class="item">
				<div class="ui fluid steps">
					  <div class="ui step center aligned" style="width: 33%">
					    <h2 class="green header" style="color: #16AB39">R {{t.amount}}.00</h2>
					  </div>
					  <div class="ui step" style="text-align: left; width: 66%">
					    	<i class="large payment icon"></i>
						    <div class="content">
						    	<a class="header">Somebody owes you R75.00</a>
						      	<div class="description">for {{t.description}}</div>
						    </div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>