
<h2 class="ui header">
  <i class="exchange icon"></i>
  <div class="content">
    Transactions
    <div class="sub header">Make a transaction</div>
  </div>
</h2>

<div class="two column row">
	<div class="eight wide column">
		<div class="ui segment">
			{{transaction-form}}
		</div>
	</div>
</div>