
<div class="ui icon message">
   <i class="empty heart icon"></i>
   <div class="content">
      <div class="header">
         Welcome to our admin theme!
      </div>
      <p>You'll find a lot of common admin views here. For requests, just tweet <a href="https://twitter.com/SemanticKit">@SemanticKit</a> or <a href="https://twitter.com/travisvalentine">@travisvalentine</a>.</p>
   </div>
</div>